<% provide(:title, 'All Nannies') %>
<h1>All Nannies</h1>
<% if logged_in? && current_user.admin? %>
<h2>You are an administrator, click the delete button to delete any nanny</h2>
<% end %>
<ul class="users">
  <%= will_paginate %>
  <% @nannies.each do |nanny| %>
    <li>
      <%= gravatar_for nanny, size: 50 %>
      <%= link_to nanny.name, nanny %>
         <% if logged_in? && current_user.admin? %>
    | <%= link_to "Delete", nanny, method: :delete,
                                  data: { confirm: "Are you sure?" } %>
  <% end %>
    </li>    
  <% end %>
</ul>
<%= will_paginate %>