<% provide(:title, @nanny.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @nanny %>
        <%= @nanny.name %>
      </h1>
    </section>
  </aside>
</div>