<% provide(:title, 'All users') %>
<h1>All users</h1>

<% if logged_in? && current_user.admin? %>
<h2>You are an administrator, click the delete button to delete any nanny</h2>
<% end %>

<ul class="users">
  <%= will_paginate %>
  <% @users.each do |user| %>
    <li>
      <%= gravatar_for user, size: 50 %>
      <%= link_to user.name, user %>
         <% if current_user.admin? && !current_user?(user) %>
    | <%= link_to "Delete", user, method: :delete,
                                  data: { confirm: "Are you sure?" } %>
  <% end %>
    </li>
  <% end %>
</ul>
<%= will_paginate %>