<%= @user.name %>, <%= @user.email %>
<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= @user.name %>
        <%= gravatar_for @user %>
      </h1>
    </section>
        <br/>
        <%= link_to "Update Details", edit_user_path(current_user) , class: "btn btn-primary" %>
        <br/>
        <br/>
        <% if current_user.admin? %>
        <h3>You are an Administrator:</h3><br/><br/>
        <%= link_to "View/Delete Users", users_path , class: "btn btn-primary" %><br/><br/>
        <%= link_to "View/Delete Nannies", users_path , class: "btn btn-primary" %><br/><br/>
        <% end %>
        
        Name: <%= @user.name %><br/>
        Email: <%= @user.email %>
  </aside>
</div>