<div class="center jumbotron">
  <h1>Welcome to Find me a Nanny.com </h1>

  <h2>
    To facilitate you in finding your childcare professional
        <% if logged_in? %>
         <%= link_to "Your Account!", current_user %>
        <% else %>
         <%= link_to "Log in now!", login_path %>
        <% end %>
  </h2>
  
<% if logged_in? %>
  <%= link_to "Log out!",  logout_path, method: "delete", class: "btn btn-lg btn-primary" %>
<% else %>
  <%= link_to "Sign Up!", signup_path , class: "btn btn-lg btn-primary" %>
<% end %>
</div>
<div class="row">
 <div class="col-md-6 col-md-offset-3">
<div class="center jumbotron">
<h3>Find your nanny online now</h3><br/><br/>
    <form method="post" action="">
	 <label for="postcode">Enter your city, postcode or address</label>

        <input type="text" placeholder="LS6 2EG" name="postcode" class="form-control" required>	
<br/><br/>
	<%= link_to "Find Nanny!", signup_path , class: "btn btn-lg btn-primary" %>
<br/><br/>
		<label for="postcode">Distance Miles:</label>
		  <select name="miles">
            <option value="5">5</option>
            <option value="10">10</option>
            <option value="15">15</option>
             <option value="20">20</option>
              <option value="25">25</option>
               <option value="30">30</option>
        </select>
		</form>
		</div>
	</div>
</div>
