<footer class="footer">
  <small>
    The <a href="#">Find me a Nanny</a>
    by <a href="#">Jack Kenna</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
       <% if logged_in? %>
         <% if logged_in? && current_user.admin? %>
          <li><%= link_to "Users", users_path %></li>
          <% end %>
           <li><%= link_to "Account", current_user %></li>
        <% else %>
          <li><%= link_to "Log in", login_path %></li>
        <% end %>
      
    </ul>
  </nav>
</footer>